.secao{
	font-family: 'PT Sans Narrow', sans-serif;
	padding: 10px;
	text-align: center;
	background-color: #607D8B;
	color: white;
}
section > div{
	margin: 30px;
	padding: 30px;
	background-color: #B3E5FC;
	border-radius: 25px;
	color: #757575;
}
body{
	margin: 0;
}
header > img{
	border-radius: 100px;
}
